<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.generate.dao.userMapper" >
  <resultMap id="BaseResultMap" type="com.generate.pojo.user" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="desc" jdbcType="NVARCHAR" javaType="java.lang.String" />
    </constructor>
    <collection property="orders" ofType="com.generate.pojo.order" column="ocid">
      <id column="orderid" property="id"/>
      <result column="ordername" property="ordername" />
      <result column="orderprice" property="price"/>
      <result column="ordercreatedon" property="createdon"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    u.id, u.name, u.sex, u.[desc], o.id as ocid,o.ordername as orderName,o.id as orderid,o.price as orderprice,o.createdon as ordercreatedon
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from [User] u
    left join [order] o on o.[user]=u.id
    where u.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from User
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.user" >
    insert into [User] (id, name, sex, [desc]
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{desc,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.user" >
    insert into [User]
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.user" >
    update [User]
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.user" >
    update [User]
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      desc = #{desc,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>