<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuka.pojo.mapping.user">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <!-- 注意，#{name}, #{age}中的name和age字样必须和我们自定义类要一致哟！ -->
        insert into customers(name, age) values(#{name}, #{age}) ;
    </insert>
    <select id="selectOne" resultMap="rm_User">
        select
          c.id id ,
          c.name name ,
          o.id orderid ,
          o.ordername ordername ,
          o.price orderprice ,
          o.[user] ocid
        from
          [user] c left outer join [order] o on o.[user] = c.id
        where
          c.id = #{id} ;
    </select>

    <resultMap id="rm_User" type="com.kuka.pojo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <!--使用collection这个标签可以建立关联属性。多对一关系映射-->
        <collection property="orders" ofType="com.kuka.pojo.Order" column="ocid">
            <id column="orderid" property="id"/>
            <result column="ordername" property="orderName" />
            <result column="orderprice" property="price"/>
        </collection>
    </resultMap>
</mapper>